body {
    font-family: Arial, sans-serif;
    background-color: #E6F2FF;
    margin: 0;
    padding: 0;
    
}
.main-component{
   display: flex;
   position: relative;
   justify-content: space-between;
   align-items: center;

}
.umbrella-component{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    width: 100vh;
    position: relative;
}

.custom-actions h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.custom-actions h3 {
    font-size: 18px;
    /* margin-top: -14px; */
}
.custom-actions p {
    font-size: 15px;
    margin-top: -14px;
}
#lower-p p{
    font-size: 12px;
    margin-top: 10px; 
}
.logo-preview {
    position: relative;
    top: 130px;
    right: 225px;
}



img {
    width: 400px;
    height: auto;
}

#previewImage{
    width: 50px;
    height: 50px;
}


.custom-action-component{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

.color-pallettes {
    display: flex;
    gap: 10px; 
}


.color-option {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: visible;
    transition: transform 0.1s;
}
.color-option::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-out;
}
.color-option:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.color-blue { background-color: skyblue; }
.color-yellow { background-color: #ffd014; }
.color-pink { background-color: pink; }

.upload-action {
   /* display: flex;
   margin-top: 10px;
   color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    /* background-color: #fff; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}



.button-color-option {
    display: flex;
    position: relative;
    bottom: 2px;
    /* right: 70px; */
    
}

  .uploadicon:hover{
    transition: transform 0.1s;  
    transform: scale(1.5);
  }
.uploadicon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    fill:white;
}

.upload {
    width: 180px;
    height: 20px;  
    
}

.loading-spinner {
    display: none;
    width: 70px;
    height: 70px;
    /* border: 5px solid lightgray;
    border-top: 5px solid blue;
    border-radius: 50%; */
    
    animation: spin 5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg);fill : var(--svg-color, skyblue); }
    45% { transform: rotate(360deg); fil :var(--svg-color, skyblue); }
    55% { transform: rotate(360deg); fill : var(--svg-color, skyblue);}
    100% { transform: rotate(720deg); fill : var(--svg-color, skyblue);}
}

.loading-spinner2 {
    display: none; 
    width: 20px;
    height: 20px;
    /* border: 5px solid lightgray;
    border-top: 5px solid blue;
    border-radius: 50%; */
    
    animation: spin2 5s linear infinite;
}
@keyframes spin2 {
    0% { transform: rotate(0deg);fill : var(--svg-color, white); }
    45% { transform: rotate(360deg); fil :var(--svg-color, white); }
    55% { transform: rotate(360deg); fill : var(--svg-color, white);}
    100% { transform: rotate(720deg); fill : var(--svg-color, white);}
}

.file-info {
    display: flex;
    align-items: center;
    width: 150px;
}
.file-remove {
    display: flex;
    position: relative;
    /* left: 60px; */
    bottom: 1px;
    align-items: center;
}

#fileName {
    display: block;
    /* max-width: 80%; */
    flex-grow: 1;
    margin-right: 10px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(324px - 80px);
    
}

.remove-file {
    cursor: pointer;
    color: white;
    font-size: 18px;
}

@keyframes expandCompress {
    0% { transform: scale(0); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
.expand-compress {
    animation: expandCompress 1s ease-in-out;
}
